body {
        font-family: cursive;
        margin: 0 auto;
        height: auto;
        width: auto;
        font-family: cursive;
        background-color: #ede7e7;
        color: #e2d5e1;
        padding-top: 30px;
}

p {
    margin: 0;
}

.dyn {
    justify-content: flex-end;
    align-items: center;
    position: relative;
    text-align: right;
}

.stat {
    text-align: center;
}

#pyramid {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-self: inherit;
    font-size: 1.5em;
    padding-bottom: 25px;
    padding-top: 25px;
    color: #a13599;
    width: 91%
}

#title {
    text-align: center;
    font-weight: bolder;
    font-size: 1.4em;
    padding: 1px;
    background-color: #a13599;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 75%;
}

.outer {
    border-radius: 5px;
    border: 3px solid #a13599;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    background-color: #d1d1d1;
}

#build {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #9fa2a2;
    border-radius: 5px;
    color: #000000;
}

footer {
    font-size: 15px;
    font-style: italic;
    background: rgba(161, 53, 153, .25);
    text-align: center;
    color: #292626;
}

#name {
    color: #8f00ff;
    text-decoration: none;
    font-weight: normal;
}

#name:hover {
    color: #a13599;
    font-weight: bolder;
}

select {
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    background-color: #dbd2eb;
    color: #000000;
    font-weight: bolder;
    justify-content: center;
}

option {
    text-align: center;
    justify-content: center;
}
