body {
    font-family: cursive;
    margin: 0 auto;
    height: auto;
    width: auto;
    background-color: #1c0000;
    color: #44eeff;
    padding-top: 30px;
}

p {
    margin: 0;
}

.dyn {
    display: flex;
}

.stat {
    text-align: center;
}

#pyramid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    font-size: 1.2em;
    padding-bottom: 30px;
    font-size: 1.3em;
    padding-bottom: 50px;
    padding-top: 15px;
    color: #ffe118;
}

#title {
    text-align: center;
    font-weight: bolder;
    font-size: 1.4em;
    padding: 15px;
    background-color: #000000;
    margin: auto;
    border-radius: 25px;
    width: 95%;
}

.outer {
    border-radius: 25px;
    border: 3px solid #ffe118;
    width: auto;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 30px;
}

#build {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 30px;
    padding-bottom: 5px;
}

footer {
    font-size: 15px;
    font-style: italic;
    background: rgba(128, 0, 0, .25);
    text-align: center;
    color: #c2e2e0;
}

#name {
    color: #2fffec;
    text-decoration: none;
}

#name:hover {
    color: #ffe118;
}

select {
    border-radius: 50px;
    padding: 3px;
    text-align: center;
    background-color: #0a0a0a;
    color: #ffe118;
    justify-content: center;
}

option {
    text-align: center;
    justify-content: center;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 4px #451500;
  background: #D98A00;
  border-radius: 5px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 5px #030101;
  border: 2px solid #000000;
  height: 16px;
  width: 15px;
  border-radius: 5px;
  background: #8b0606;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #D98A00;
}
